* {
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  min-width: 375px;
}
body {
  padding: 32px 3%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main h1 {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}
.main__description {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.main__description img {
  margin-top: 3px;
}
.main__description p {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #4f4f4f;
}
.main__img img {
  margin: 12px 0;
  width: 100%;
}

.recipe {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recipe__data {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.data {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: #333333;
}
.data--yields {
  color: #f2994a;
}
.data .data__title {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1rem;
  text-transform: uppercase;
  color: #bdbdbd;
}
.data__time {
  display: flex;
  justify-content: space-between;
}
.recipe__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recipe__ingredients {
  display: flex;
  flex-direction: column;
  gap: 13px;

  color: #333333;
}
.recipe__ingredients h2 {
  font-family: "Playfair Display";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.recipe__ingredients h3 {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
}
.recipe__ingredients ul {
  padding: 0;
  margin-top: 23px;
}
.recipe__ingredients li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.recipe__ingredients input {
  min-width: 21px;
  min-height: 21px;
  border: 1px solid #828282;
  border-radius: 4px;
}
.recipe__ingredients label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.recipe__ingredients span {
  font-style: italic;
  font-weight: 500;
}
.recipe__instructions {
  color: #333333;
}
.recipe__instructions h2 {
  font-family: "Playfair Display";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}
.recipe__instructions ol {
  padding: 28px 0 0;
  list-style: none;
  counter-reset: my-counter;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.recipe__instructions li {
  counter-increment: my-counter;
  display: flex;
  gap: 15px;
}
.recipe__instructions li::before {
  content: counter(my-counter);
  background: #f2994a;
  min-width: 36px;
  height: 36px;
  border-radius: 6px;
  display: inline-block;
  font-family: "Playfair Display";
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
  text-align: center;
}
.recipe__instructions p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
.recipe__source {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 150%;
  color: #BDBDBD;
}
.recipe__source a {
  text-decoration: none;
  color: #BDBDBD;
}
