* {
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  min-width: 375px;
}
body {
  padding: 32px 3% 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main h1 {
  margin: 0;
  font-family: "Playfair Display";
  font-size: clamp(2.4rem, 6.4vw, 4.8rem);
  font-weight: 700;
  line-height: clamp(3.2rem, 8.5vw, 6.4rem);
}
.main__description {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.main__description img {
  margin-top: 3px;
}
.main__description p {
  max-width: 592px;
  font-style: italic;
  font-size: clamp(1.2rem, 3.2vw, 1.4rem);
  font-weight: 500;
  line-height: clamp(1.5rem, 4vw, 1.7rem);
  color: #4f4f4f;
}
.main__img img {
  margin: 12px 0;
  width: 100%;
}

.recipe {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recipe__data {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.data {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: clamp(1rem, 2.6vw, 1.4rem);
  font-weight: 500;
  line-height: clamp(1.2rem, 3.2vw, 1.7rem);
  color: #333333;
}
.data--yields {
  color: #f2994a;
}
.data .data__title {
  font-size: clamp(0.8rem, 2.1vw, 1rem);
  font-weight: 700;
  line-height: clamp(1rem, 2.6vw, 1.2rem);
  text-transform: uppercase;
  color: #bdbdbd;
}
.data__time {
  display: flex;
  justify-content: space-between;
}
.recipe__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recipe__ingredients {
  display: flex;
  flex-direction: column;
  gap: 13px;

  color: #333333;
}
.recipe__ingredients h2 {
  font-family: "Playfair Display";
  font-size: clamp(1.8rem, 4.8vw, 2.4rem);
  font-weight: 700;
  line-height: clamp(2.4rem, 6.4vw, 3.2rem);
}
.recipe__ingredients h3 {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: clamp(1.6rem, 4.2vw, 1.8rem);
  font-weight: 400;
  line-height: clamp(2.1rem, 5.6vw, 2.4rem);
}
.recipe__ingredients ul {
  padding: 0;
  margin-top: 23px;
}
.recipe__ingredients li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.recipe__ingredients input {
  min-width: 21px;
  min-height: 21px;
  border: 1px solid #828282;
  border-radius: 4px;
}
.recipe__ingredients label {
  font-size: clamp(1.4rem, 3.7vw, 1.6rem);
  font-weight: 400;
  line-height: 2.5rem;
}
.recipe__ingredients span {
  font-style: italic;
  font-weight: 500;
}
.recipe__instructions {
  color: #333333;
}
.recipe__instructions h2 {
  font-family: "Playfair Display";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}
.recipe__instructions ol {
  padding: 28px 0 0;
  list-style: none;
  counter-reset: my-counter;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.recipe__instructions li {
  counter-increment: my-counter;
  display: flex;
  gap: 15px;
}
.recipe__instructions li::before {
  content: counter(my-counter);
  background: #f2994a;
  min-width: 36px;
  height: 36px;
  border-radius: 6px;
  display: inline-block;
  font-family: "Playfair Display";
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
  text-align: center;
}
.recipe__instructions p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
.recipe__source {
  font-style: italic;
  font-size: clamp(1.2rem, 3.2vw, 1.6rem);
  font-weight: 400;
  line-height: 150%;
  color: #bdbdbd;
}
.recipe__source a {
  text-decoration: none;
  color: #bdbdbd;
}

footer {
  text-align: center;
  padding: 24px;
}
footer p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #828282;
}
footer a {
  font-weight: 700;
  color: #828282;
}

@media (min-width: 1024px) {
  body {
    width: 70%;
    margin: 0 auto;
  }
  .recipe {
    flex-direction: row-reverse;
    gap: 150px;
  }
  .recipe__data {
    min-width: 132px;
    height: fit-content;
    padding: 42px 42px 17px;

    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  .data__time {
    flex-direction: column;
    gap: 25px;
  }
}
